.supertabs {
    background-image: url('tab_b.png');
    width: 100%;
    z-index: 101;
    font-size: 16px;
}

.tabs {
    background-image: url('subtab_b.png');
    width: 100%;
    z-index: 101;
    font-size: 12px;
}

.tabs ul
{
    padding : 0;
    display: table;
}

.tabs ul li
{
    float: left;
    display: table-cell;
    background-image: url('subtab_b.png');
    line-height: 24px;
    list-style: none;
}

.tabs ul a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('subtab_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
}

.tabs ul a:hover {
    background-image: url('tab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tabs ul li.current a {
    background-image: url('tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.tablist, .subtablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image: url('tab_b.png');
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('tab_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
}

.tablist a:hover {
    background-image: url('tab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tablist li.current a {
    background-image: url('tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.subtablist li {
    float: left;
    display: table-cell;
    background-image: url('subtab_b.png');
    line-height: 24px;
    list-style: none;
    font-size: 12px;
}

.subtablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('subtab_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
}

.subtablist a:hover {
    background-image: url('subtab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.subtablist li.current a {
    background-image: url('subtab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}